{% extends 'base.html' %}

{% block title %}Avaliações{% endblock %}

{% block content %}
    <h2>Lista de Avaliações</h2>

    <table>
        <tr>
            <th>Avaliado</th>
            <th>Avaliador</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>

        {% for avaliacao in avaliacoes %}
        <tr>
            <td>{{ avaliacao.avaliado }}</td>
            <td>{{ user.username }}</td>
            <td>{{ avaliacao.data }}</td>
            <td>
                <a href="{% url 'detalhe_avaliacao' avaliacao.id %}" class="btn">Ver detalhes</a>
                <a href="{% url 'excluir_avaliacao' avaliacao.id %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhuma avaliação cadastrada.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}