{% extends 'base.html' %}

{% block content %}
<h2>Detalhes da Avaliação</h2>

<p><strong>Colaborador:</strong> {{ avaliacao.avaliado }}</p>
<p><strong>Avaliador:</strong> {{ avaliacao.avaliador }}</p>
<p><strong>Data:</strong> {{ avaliacao.data }}</p>

<h3>Notas</h3>

<table>
    <tr>
        <th>Critério</th>
        <th>Nota</th>
    </tr>
    {% for nota in notas %}
    <tr>
        <td>{{ nota.criterio }}</td>
        <td>{{ nota.valor }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">Nenhuma nota registrada</td>
    </tr>
    {% endfor %}
</table>
<div style=" display: flex; gap: 10px; margin-top: 20px; justify-content: flex-start;">
    <a href="{% url 'lista_avaliacoes' %}" class="btn btn-danger">Voltar</a>
</div>
{% endblock %}